<div class="page-wrapper">
    <div class="row mt-5">
        <div class="container">

                <div class="alert alert-success" >
            <h3>Sistema de Monitoramento de Temperatura - SMT</h3>
            </div>
      
             <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Sobre</h4>
                    <p align="justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;É um sistema para monitorar e controlar a temperatura do ambiente de armazenamento de vacinas, através de um sensor de temperatura, o qual através do efeito de Peltier, irá esfriar ou aquecer o ambiente, de acordo com as configurações efetuadas no sistema. A placa integrada ficará acoplado em uma caixa fechada (caixa de isopor, por exemplo), o qual irá verifcar a temperatura em tempo real e informar a central inteligente.
                      Caso a temperatura do ambiente especifico sofra alteração e se aproxime dos extremos, o mesmo ira enviar as informações para a central operacional, alertando os principais responsavéis para que tome uma ação, esfriando ou aquecendo o ambiente. Caso não seja tomada nenhuma medida, o sistema baseado na mudança de temperatura, irá “apontar” que aquele produto poderá causar alguma reação negativa no futuro.
                    .</p>
                    <hr>

                    
                  </div>
 
        </div>
    </div>
</div>